@import url("./Button/Button.css");
@import url("./Counter/Counter.css");
* {
  text-align: center;
  justify-content: center;
}

/* Адаптивность */

@media (max-width: 1366px) {
  .live-indicator .red-dot,
  .live-indicator .pulse {
    min-width: 0px;
    width: 20px;
    height: 20px;
    font-size: 20px;
    margin-top: 3px;
    padding-bottom: 11px;
  }
  button {
    font-size: 20px;
    padding: 8px 12px;
  }
}

@media (max-width: 1024px) {
  .live-indicator .red-dot,
  .live-indicator .pulse {
    min-width: 0px;
    width: 16px;
    height: 16px;
    font-size: 16px;
    padding: 0px;
    margin-top: 5px;
    padding-left: 1px;
  }
}

@media (max-width: 768px) {
  body {
    display: inline-block;
  }
  .count-display {
    display: flex;
  }
  .button-display {
    display: inline-block;
  }
  .live-indicator .red-dot,
  .live-indicator .pulse {
    min-width: 0px;
    width: 12px;
    height: 12px;
    font-size: 0px;
    margin-top: 7px;
    animation-name: red-dot-scale-fade;
  }

  button {
    font-size: 16px;
    padding: 6px 10px;
  }
  .buttContent {
    margin: 5px 0px;
  }
  @keyframes red-dot-scale-fade {
    0% {
      opacity: 0.5;
      transform: scale(1);
    }
    50% {
      opacity: 0;
      transform: scale(3);
    }
    100% {
      opacity: 0;
      transform: scale(3);
    }
  }
}

@media (max-width: 360px) {
  .live-indicator .red-dot,
  .live-indicator .pulse {
    min-width: 0px;
    width: 8px;
    height: 8px;
    font-size: 0px;
    padding: 0px 0px;
    margin-top: 9px;
  }
}
